# Example .env
# Copy this file to .env and fill in the values accordingly
# Some values like skip_orbits and model_version do not necessarily need modified


##### Output #####
# Directory where snow depth NetCDF outputs will be written
OUTPUT_DIR=/path/to/output/


##### Sentinel-1 data #####
# Directory containing S1 mosaic NetCDF files
S1_MOSAIC_DIR=/path/to/s1_mosaic/
# Directory containing per-orbit per-year scaling factor NetCDF files
S1_SCALING_DIR=/path/to/s1_scaling/
# List of S1 orbits to skip
SKIP_ORBITS=051,037
# List of months to skip for S1 data
SKIP_MONTHS=06,07,08


##### Snow cover data #####
# Directory containing snow cover NetCDF files
SNOW_COVER_DIR=/path/to/snow_cover/


##### Static variables #####
# Path to all_static_var.nc (elevation, slope, aspect, FCF, TPI)
STATIC_VAR_PATH=/path/to/static_vars/all_static_var.nc
# Path to snowclass.nc
SNOW_CLASS_PATH=/path/to/static_vars/snowclass.nc
# Path to landcover_1.nc
LANDCOVER_PATH=/path/to/static_vars/landcover_1.nc
# Path to grid_lowres.nc
GRID_PATH=/path/to/static_vars/grid_lowres.nc
# Path to glacier_raster.nc
GLACIER_PATH=/path/to/static_vars/glacier_raster.nc


##### Model #####
# Directory containing the trained PyCaret model files
MODEL_PATH=/path/to/models/
# Model version name (without file extension)
MODEL_VERSION=final_model_xg


##### ASF Earthdata credentials (for downloading Sentinel-1) #####
ASF_USERNAME=your_earthdata_username
ASF_PASSWORD=your_earthdata_password